################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/CppCodeProvider/CppCodeProvider.vcxproj.user
/CppCodeProvider/CppCodeProvider.vcxproj.filters
/CppCodeProvider/Debug
/CppCodeProvider/x64
CppCodeProvider/vc140.idb
CppCodeProvider/vc140.pdb
.vscode
.vs
build
